/*глобальные*/

body {
  margin: 0;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
}

.centered_page {
  font-size: 14px;
  line-height: 26px;
  font-family: 'PT Sans', sans-serif;
  margin: 0 auto;
  width: 1200px;
  -webkit-box-shadow: 0 0 12px -5.5px;
          box-shadow: 0 0 12px -5.5px;
  text-align: center;
}

/* хедер */

.header_navigation {
  height: 56px;
  vertical-align: bottom;
}

.sedona_logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  display: block;
  top: 0;
}

.links {
  height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-left: 71px;
  margin-right: 72px;
}

.links a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  display: inline;
}

a.current_page {
  color: #766357;
}

.links a:hover{
  color: #81b3d2;
}

.links a:active{
  color: rgba(202, 202, 202, 0.7);
}

/* мэйн */

.images_top {
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url('../img/intro-mask.svg');
  background-size: 1200px 59px;
  height: 508px;
  background-position: bottom;
}

.mask_image_top {
  background-position: center;
  background: #677c8b url('../img/backgroundphoto.jpg');
  background-size: 1200px 508px;
}

.hotel_search_button {
  list-style: none;
}

.motivation_to_read {
  padding-top: 65px;
  text-align: center;
}

.five_reasons_check {
  margin-top: 30px;
  margin-bottom: 0px;
}

          /* средняя контентная часть */

.content_for {
  padding-top: 57px;
}

            /* real city */

.real_city {
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text_real_city {
  display: block;
  padding: 55px 0px;
  background-color: #81b3d2;
  color: #ffffff;
  width: 400px;

}

.text_real_city h2 {
  margin-top: 0;
}

.text_real_city .ptwo {

}

.image_real_city {
  width: 800px;
  background-position: center;
  background: #b28f71 url("../img/index-1.jpg");
  background-size: 800px 400px;
}

        /* home_eat_souvenires  */

.home_eat_souvenir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 330px;

  -webkit-box-pack: space-evenly;

      -ms-flex-pack: space-evenly;

          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

        /* devil's bridge */

.devil_bridge {
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.text_devil_bridge {
  display: block;
  padding: 48px 0px;
  background-color: #81b3d2;
  color: #ffffff;
  width: 400px;

}

.text_devil_bridge h2 {
  margin-top: 0;
}

.text_devil_bridge .ptwo {

}

.image_devil_bridge {
  width: 800px;
  background-position: center;
  background: #8d5c4b url("../img/index-2.jpg");
  background-size: 800px 400px;
}

          /* last_three_reasons */

.last_three_reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 256px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

          /* search_hotel_sedona */
.user_helping {
  padding-top: 58px;
}

.form_container {
  position: relative;
  width: 1200px;
  height: 560px;
}

.map_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 86px;
  border: 0;
}

.hotel_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -284px;

}

.hotel_search_button {
  height: 86px;
  width: 568px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #766357;
  border: 0;
}

.hotel_search_button:hover {
  background-color: #604e43;
  cursor: pointer;
}

.hotel_search_button:active .hotel_search_button_p {
  color: rgba(255, 255, 255, 0.3);
}

.hotel_search_button:active {
  background-color: #503e33;
}

.hotel_search_button_p {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
}

.movement_window {
  width: 568px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  min-height: 395px;
  max-height: 395px;
  -webkit-transition: max-height 0.7s cubic-bezier(0.09, -0.32, 0.68, 0.88);
  -o-transition: max-height 0.7s cubic-bezier(0.09, -0.32, 0.68, 0.88);
  transition: max-height 0.7s cubic-bezier(0.09, -0.32, 0.68, 0.88);
  overflow: hidden;
}

.movement_window p {
  font-weight: 700;
}

.mvindow_hiden {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
}

.date {
  width: 112px;
  font-weight: 700;
  text-align: left;

}

.out_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 458px;
  margin-top: 29px;

}

.into_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 458px;
  margin-top: 55px;
}

.text_time {
  min-height: 38px;
  width: 346px;
  border: 0;
  background-color: #f2f2f2;
  padding: 0;
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_time:hover {
  background-color: #ebebeb;
}

.text_time:focus {
  list-style: none;
  background-color: white;
  border: 2px solid #e5e5e5;
}

.time_calendar {
  position: relative;
  min-height: 38px;
  width: 346px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.calendar {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/calendar_gray.svg");
  background-repeat:  no-repeat;
  background-size: 21px 22px;
  background-position: center;
  height: 38px;
  width: 38px;
  padding: 0;
}

.calendar:hover {
  background-image: url("../img/calendar.svg");
}

.calendar:active {
  background-image: url("../img/calendar_blue.svg");
}


.adults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 230px;
}

.adults_hm {
  padding-right: 40px;
}

.childs_hm {
  padding-left: 53px;
  padding-right: 24px;
}

.childs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 230px
}

.adults_childs {
  margin-top: 30px;
  margin-bottom: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 458px;
}

.input_adult_childs::-webkit-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: black;
}

.input_adult_childs:-ms-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: black;
}

.input_adult_childs::-ms-input-placeholder {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: black;
}

.input_adult_childs::placeholder {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: black;
}

.input_adult_childs {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  width: 38px;
  min-height: 38px;
  border: 0;
  color: black;
  text-align: center;
  background-color: #f2f2f2;
  padding: 0;
}

.minus {
  border: 0;
  background-color: #f2f2f2;
  min-height: 38px;
  min-width: 38px;
  background-image: url("../img/minus_usual.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 3px;
  padding: 0;
}

.minus:hover {
  background-image: url("../img/minus_hover.png");
}

.minus:active {
  background-image: url("../img/minus_active.png");
}

.plus {
  border: 0;
  background-color: #f2f2f2;
  min-height: 38px;
  min-width: 38px;
  background-image: url("../img/plus_usual.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 11px;
  padding: 0;
}

.plus:hover {
  background-image: url("../img/plus_hover.png");
}

.plus:active {
  background-image: url("../img/plus_active.png");
}

.find {
  width: 458px;
  min-height: 58px;
  color: white;
  background-color: #81b3d2;
  border: 0;
  font-weight: 700;
  font-size: 21px;
  padding: 0;
}

.find:hover {
  background-color: #669ec0;
}

.find:active {
  background-color: #5496bd;
  color: rgba(148, 185, 210, 0.3);
}

          /* footer */

.page_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

.footer_social_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
}

.social_networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon:hover {
  background-color: #669ec0;
}

.icon:active {
  background-color: #5496bd;
}

.social_network_icon:active {
  opacity: 0.3;
}

.footer_block {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owner {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.htmlacademy_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  width: 115px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

.htmlacademy_logo:hover {
  background-image: url("../img/logo-htmlacademy_hover.svg");
  cursor: pointer;
}

.htmlacademy_logo:active {
  background-image: url("../img/logo-htmlacademy_active.svg");
}

.footer_block aria-label {
  display: none;
}

                                                  /* WARNING: catalog.html */


.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 217px;
  background: #657a89 url("../img/background_hotels.jpg");
  background-size: 1200px 800px;
  background-position: center;
}

.infostructure {
  color: white;
  min-height: 155px;
  padding-left: 72px;
}

.infostructure p {
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
}

.type_hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 313px;
  color: white;
}

.checkboxes {
  min-height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkbox_filter {
  display: none;
}

input[type=checkbox] + label {
  padding-right: 16px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

input[type=checkbox]:checked + label {
  padding-right: 12px;
  width: 27px;
  min-height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.checkboxes_string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type_hotel p {
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
}

            /* filter-range */

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  padding-right: 74px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #ababab;
  top: -10px;
  border: 9px solid #fff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
          /* сортировка  */

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88px;
  margin-left: 70px;
}

.sort_by {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 236px;
}

.sort p {
  padding-left: 48px;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
}

.sort a {
  font-size: 12px;
  line-height: 12px;
  border-bottom: 1px dotted #81b3d2;
  border-spacing: 2px;
  color: rgba(0, 0, 0, 0.3);
}

.sort a:hover {
  color: #81b3d2;
  cursor: pointer;
}

.sort a:active {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

a.active_sort {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  border: none;
}

.sort_up_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 34px;
  height: 10px;
  padding-left: 504px;
}

.up {
  width: 11px;
  height: 10px;
  border: 0;
  background-image: url("../img/icon-up-dir.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.up:hover {
  background-image: url("../img/icon-up-dir-hover.svg");
  cursor: pointer;
}

.up:active {
  background-image: url("../img/icon-up-dir-active.svg");
}

.up-active {
  background-image: url("../img/icon-up-dir-active.svg");
}

.down {
  width: 11px;
  height: 10px;
  border: 0;
  background-image: url("../img/icon-down-dir.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.down:hover {
  background-image: url("../img/icon-down-dir-hover.svg");
  cursor: pointer;
}

.down:active {
  background-image: url("../img/icon-down-dir-active.svg");
}

.down-active {
  background-image: url("../img/icon-down-dir-active.svg");
}

            /* Отели */
.hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotels_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  border-top: 1px solid #e5e5e5;
}

.hotels_item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid_side {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  margin-left: 30px;
  width: 258px;
}

.about_hotel_h2:hover {
  color: #81b3d2;
  cursor: pointer;
}

.about_hotel_h2:active {
  color: black;
  opacity: 0.3;
}

.more_about_hotel {
  color: white;
  text-decoration: none;
  font-weight: 700;
  background-color: #81b3d2;
  width: 110px;
  height: 27px;
}

.more_about_hotel:hover {
  background-color: #669ec0;
}

.more_about_hotel:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.mid_side h2 {
  margin: 0;
  margin-top: -5px;
}

.mid_side button {
  color: white;
  border: 0;
  font-weight: 700;
  background-color: #766357;
  width: 142px;
  height: 27px;
}

.mid_side button:hover {
  background-color: #604e43;
  cursor: pointer;
}

.mid_side button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-height: 64px;
}

.info_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 6px;
  min-height: 64px;
}

.buttons_about_hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right_side {
  width: 240px;
  padding-left: 393px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}

.rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  color: rgb(102, 102, 102);
  margin: 0;
}
